<h1>Login</h1>
{{#if messages.error}}
    <span style="color:red;">{{messages.error}}</span>
{{/if}}
<form action="/login" method="POST">
<div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
</div>
<button type="submit">Login</button>
</form>
<a href="/register">Register Page</a>
