<h1>{{title}}</h1>
<div id="content">
<div id="text">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum accusamus commodi recusandae tempora. Ipsa quibusdam sed, quas beatae quidem neque sint, recusandae eveniet, repellat accusamus fuga fugiat rem possimus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum accusamus commodi recusandae tempora. Ipsa quibusdam sed, quas beatae quidem neque sint, recusandae eveniet, repellat accusamus fuga fugiat rem possimus?</p></div>
<div id="img-holder">
<img src="/images/beach.jpg" alt="beach">
</div>
</div>