<h1>{{title}}</h1>
<div id="form-holder">
<form action="/results" method="post">
<input type="text" name="name" id="name" placeholder="Enter name"><br>
<input type="text" name="email" id="email" placeholder="Enter email"><br>
<textarea id="comments" name="comments" placeholder="Enter comments"></textarea><br>
<input type="submit" id="submit" >
</form>
</div>