<h1>{{title}}</h1>
<div id="sub-holder">
<table>
<tr><td><label><b>Name: </b></label></td><td><label>{{name}}</label></td></tr>
<tr><td><label><b>Email: </b></label></td><td><label >{{email}}</label></td></tr>
<tr><td><label><b>comments   : </b></label></td><td><label >{{comments}}</label></td></tr>
</table>
</div>