<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>  
    {{> _nav}}
    <div id="wrapper">
    {{{body}}}
    </div>
  </body>
</html>
