<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website Express Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
    <h1>Welcome to the about page</h1>
    <nav>
    <a href="index.html">Home</a>
    <a href="#">About</a>
    </nav>
    <img src="images/snoopy.jpg" alt="snoopy" width="400">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat perspiciatis repellendus aliquam aliquid temporibus, nostrum nihil modi. Repellat, rerum accusamus! Explicabo soluta eaque beatae quidem odit nobis inventore excepturi?</p>
</div>
</body>
</html>